
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:rgb(222, 222, 222);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-gap: 20px; 
    align-items: start;
}


.grid> div {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 25px;
    font-family:'Lucida Sans';
}

.imagen {
    grid-column: 1 / 2; 
    grid-row: 1 / 2; 
}

.nombre {
    grid-column: 2 / 3; 
    grid-row: 1 / 2; 
}

.acerca {
    grid-column: 1 / 3; 
    grid-row: 2 / 3; 
}

.educacion {
    grid-column: 1 / 2; 
    grid-row: 3 / 4; 
}

.experiencia {
    grid-column: 2 / 3; 
    grid-row: 3 / 4; 
}

.habilidades {
    grid-column: 1 / 2; 
    grid-row: 4 / 5; 
}

.contacto {
    grid-column: 2 / 3; 
}
   

.boton{
    grid-column: 1 / 2;
   
}
