



* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

h1 {
    text-align: left;
    font-size: 80px;
    font-family: 'IM Fell English SC';
    color: rgb(73, 92, 73);
    margin-top: 0px;

}

h2 {
    text-align: center;
    font-size:  50px;
    font-family: 'IM Fell English SC';
    padding-top: 50px;
    color: rgb(251, 221, 178);
}

body{
    background-color: black;
}

ul{
    color: white;
    font-size: 40px;
    font-family:'Times New Roman';
    padding-bottom: 10px;
}

a{
 color: rgb(255, 253, 219);
}

.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}